*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper-game{
    max-width: 1100px;
    display: flex;
}
.game__btns{
    margin-bottom: 25px;
}
.btns__item{
    color: #fff;
    background-color: #ed7373;
    border: none;
    border-radius: 3px;
}
.game__puzzle,
.game__place{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game__place-box{
    padding: 10px;
    margin-left: 20px;
}
.game__puzzle-box,
.game__place-box {
    width: 510px;
    height: 510px;
    background-color: azure;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.game__puzzle-box div{
    display: inline-block;
    width: 125px;
    height: 125px;
    background-image: url('../img/miki_mouse.png');
    background-repeat: no-repeat;
    margin-left: 2px;
}
.game__place-box{
    margin: 0;
    padding: 0;
    width: 510px;
    height: 510px;
}
